<h1>Domino's pizza aplication</h1>
<h3>The best application for ordering Pizza</h3>

 
@*<a asp-controller="Order" asp-action="Create" class="btn btn-succes">New order</a>*@



    @Html.ActionLink("New order", "Create", "Order", null, new { @class = "btn btn-success", @id = "orderBtn" })
 